<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
<table class="table table-hover table-bordered">
  <caption><h2>Lista pytań</h2></caption>
  <thead>
    <tr>
      <th>Akcje</th>
      <th>Opis</th>
      <th>Odpowiedź nr 1</th>
      <th>Odpowiedź nr 2</th>
      <th>Odpowiedź nr 3</th>
      <th>Nr poprawnej odpowiedzi</th>
    </tr>
  </thead>

  <tbody>
    <% @quests.each do |quest| %>

      <tr>
        <td><%= link_to 'Pokaż', quest, class: 'btn btn-sm btn-info'  %>
        <%= link_to 'Edytuj', edit_quest_path(quest), class: 'btn btn-sm btn-info'  %>
        <%= link_to 'Usuń', quest, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger'  %></td>
        <td><%= quest.description %></td>
        <td><%= quest.answerone %></td>
        <td><%= quest.answertwo %></td>
        <td><%= quest.answerthree %></td>
        <td><%= quest.answergood %></td>
      </tr>

    <% end %>
  </tbody>
</table>
</div>
</div>
</div>
<br>

<%= link_to 'Nowe pytanie', new_quest_path, class: 'btn btn-success'  %>
