<p id="notice"><%= notice %></p>

<p>
  <strong>Opis:</strong>
  <%= @quest.description %>
</p>

<p>
  <strong>Odpowiedź nr 1:</strong>
  <%= @quest.answerone %>
</p>

<p>
  <strong>Odpowiedź nr 2:</strong>
  <%= @quest.answertwo %>
</p>

<p>
  <strong>Odpowiedź nr 3:</strong>
  <%= @quest.answerthree %>
</p>

<p>
  <strong>Nr poprawnej odpowiedzi:</strong>
  <%= @quest.answergood %>
</p>

<%= link_to 'Edytuj', edit_quest_path(@quest) %> |
<%= link_to 'Wróć', quests_path %>
