<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @quest.description %>
</p>

<p>
  <strong>Answerone:</strong>
  <%= @quest.answerone %>
</p>

<p>
  <strong>Answertwo:</strong>
  <%= @quest.answertwo %>
</p>

<p>
  <strong>Answerthree:</strong>
  <%= @quest.answerthree %>
</p>

<p>
  <strong>Answergood:</strong>
  <%= @quest.answergood %>
</p>

<%= link_to 'Edit', edit_quest_path(@quest) %> |
<%= link_to 'Back', quests_path %>
