<nav class="navbar navbar-default" role="navigation">
<div class="container">
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data- 6 toggle="collapse" data-target="#bs-example-navbar-collapse-1">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<%= link_to 'Quiz', root_path, class: 'navbar-brand' %>
</div>
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav navbar-right">
<%= link_to 'Strona główna', root_path, class: 'btn btn-default' %>
<%= link_to 'O mnie', home_about_path, class: 'btn btn-default' %>

<% if user_signed_in? %>
<%= link_to 'Lista pytań', quests_path, class: 'btn btn-info' %>
  <%= link_to 'Edycja profilu', edit_user_registration_path, class: 'btn btn-info' %>
  <%= link_to 'Wylogowanie', destroy_user_session_path, method: :delete, class: 'btn btn-danger' %>
<% else %>
  <%= link_to "Logowanie", new_user_session_path, class: 'btn btn-primary' %>
  <%= link_to "Rejestracja", new_user_registration_path, class: 'btn btn-success' %>
<% end %>
</ul>
</div>
</div>
<br>
<% flash.each do |name, msg| %>
<%= content_tag(:div, msg, class: "alert alert-info") %>
<% end %>
</nav>
